<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Chocobrand - Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet"  href="/scripts/style.css">
    
    <link rel="icon" href="Data/icon.png">
    
</head>





<body>


    <header>       
        
        <div class="barraArriba">
            <div class="zonaHoraria">GMT-5 BOG</div>
            <div class="buscadorDeTiendas">Store Locator</div>           
        </div>

        <hr>

        <div class="barraMedia">
            <div class="iniciarSesion">
                <div class="imgIniciarSesion"> </div>
                <a href="#">Iniciar Sesión</a>                
            </div>

            <div class="carrito">
                    <div class="imgCarrito"> </div>
                    <a href="#">Carrito</a>
                </div>
        </div>

        <hr>

        <div class="logoContenedor">
        <a href="#">

                <div class="logoPrinci">
                    <img src="/public/img/logoPrinci.png">
                </div>
            </a>
        </div>

     <!--   
     <nav class="barraMenu">
            <ul class="barraMenu_elementos">
                <li><a href="#">Novedades</a></li>
                <li><a href="#">Sweet</a></li>
                <li><a href="#">Semisweet</a></li>
                <li><a href="#">Regalos</a></li>
            </ul>
        </nav>
    -->

    </header>

    <!--
    <div class="contenedorSlider">

    <img class="main_img" src="Data/banner1.png">
    <img class="main_img" src="Data/banner2.png">
    <img class="main_img" src="Data/banner3.png">
    <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
    <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
    
    </div>
    -->

    <div class="contenedorContenido">

        <div class="textoPrincipal">

          <p class="titulo"><b>Sweet Tempation</b></p>
          <p class="contador">12 semanas: 4 dias: 3 horas</p>

        </div>

        <div class="primeraCategoria">
            <div class="bannerC">
             <p><b>Extrawow Muffins</b></p>    
             <button>-</button>
             </div>
        

        <div class="contenedorElementos">

        <!--    <div class="elemento">
                <img src={{img}}>
                <div class="textosElem">
                    <p>
                        <b>{{nombre}}</b>
                        <br>
                        {{precio}} USD
                    </p>
                </div>
            </div>
        -->
                <div class="elemento">

                    {{#each products}}
                    
                    <img src ='{{img}}'>

                    <div class="textosElem">
                    <p>
                    <b>{{nombre}}</b>
                    <br>
                    {{precio}}$ USD
                    </p>
                    </div>

                    {{/each}}

                </div>         
     
        </div>
            </div>




            <div class="primeraCategoria">
                    <div class="bannerC">
                     <p><b>Extrawow Muffins</b></p>    
                     <button>-</button>
                     </div>
                
        
        <div class="contenedorElementos">

        <!--    <div class="elemento">
                <img src={{img}}>
                <div class="textosElem">
                    <p>
                        <b>{{nombre}}</b>
                        <br>
                        {{precio}} USD
                    </p>
                </div>
            </div>
        
                <div class="elemento">

                    {{#each products}}
                    
                    <img src ='{{img}}'>

                    <div class="textosElem">
                    <p>
                    <b>{{nombre}}</b>
                    <br>
                    {{precio}}$ USD
                    </p>
                    </div>

                    {{/each}}

                </div>         
     
        </div>
                    </div>
                    -->

        </div>
        
   




          
  
<div id="contenedorPopUp">
    <div id="menuPopUp">
        <style>
        #menuPopUp{
        border-style: solid ;
        border-color: lightgray;
        }
        </style>
      

        <div class="contenedorIzquierda">
                <div class="fotoMuffin"> 
                    <img src="Data/rubySunset.png">
                </div>
    
                <div class="corazon">
                    <img src="Data/corazon.png">
                </div>
            </div>
    
            <div class="contenedorDerecha">
                <div class="textos">

                   <div class="tituloP">
                       Ruby Sunset
                   </div>
                                  
                    <div class="contenidoP">
                          Deliciosa combinación de merengue con frutos rojos en una base de torta de vainilla
                    </div>
                   
                </div>
                <button id="close" onclick="document.getElementById('menuPopUp').style.display='none'">Añadir al Carrito</button>
    
            </div>
            </div>
        </div>










<hr class="lineaFooter">

<footer>
    
    
    
    <div class="contenedorCategorias">

        <div class="columnaUno"> 

        <div class="unaCategoria">
         <b>Novedades</b>
         <ul>
                <li>Sweet Temptation</li>
          </ul>
        </div>

        <div class="unaCategoria">
        <b>Sweet</b>
        <ul>
            <li>Muffins</li>
            <li>Cookies</li>
            <li>Drinks</li>
            <li>Cakes</li>
        </ul>
        </div>
        </div>

        <div class="columnaDos">

            <div class="unaCategoria">
            <b>Semisweet</b>
            <ul>
                <li>Chocolate Bar</li>
                <li>Drinks</li>
                <li>Pure Colombia CACAO</li>
            </ul>
        </div>

            <div class="unaCategoria">
            <b>Regalos</b>
            <ul>
                <li>Aniversario</li>
                <li>Cumpleaños</li>
                <li>Random Day</li>
            </ul>
        </div>

        </div>

       
        

    </div>

    <div class="contenedorNews">

            <div class="logo">
                <img class="imagen" src="Data/logoBlanco.png">
            </div>

            <div class="contenedorInputs">
                <p>Inscríbete con nosotros</p>

                <input type="email" name="" placeholder="Correo Electrónico">

                <input type="email" name="" id=""placeholder="Confirma tú correo">
                <button>Inscribirse</button>

            </div>

        </div>

     </footer>



    <script src="main.js">
    
    
    </script>    
</body>
</html>